.questions {
  margin: 100px;
}

.question {
  font-family: "Karla", sans-serif;
  font-size: 20px;
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.start-page-title {
  font-family: "Karla", sans-serif;
}

.start-page-btn {
  background-color: #4d5b9e;
  color: #f5f7fb;
  padding: 15px 45px;
  font-family: "Inter", sans-serif;
  border-radius: 13px;
}

body {
  background-color: #f5f7fb;
  background: url("images/blue-blob.png"), url("images/yellow-blob.png");
  background-position: bottom left, top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ans-container {
  display: flex;
}

.ans {
  list-style: none;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  cursor: pointer;
  border: 1px black solid;
  border-radius: 13px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #293264;
}

.selected {
  border: 3px #293264 solid;
  background-color: #d6dbf5;
}

.green {
  background-color: #94d7a2;
}

.red {
  background-color: #f8bcbc;
  color: #b2b8d4;
  border: 1px solid #b2b8d4;
}

.grey {
  background-color: #f5f7fb;
  color: #b2b8d4;
  border-color: #b2b8d4;
}

.btn-div {
  display: flex;
  justify-content: center;
}

.play-again-btn {
  margin-left: 20px;
  padding: 10px 15px;
  background-color: #4d5b9e;
  border-radius: 13px;
  color: #f5f7fb;
  align-self: center;
}

.check-ans-btn {
  background-color: #4d5b9e;
  border-radius: 13px;
  padding: 10px 15px;
  color: #f5f7fb;
}
