.questions {
  margin: 100px;
}

.question {
  font-family: "Karla", sans-serif;
  font-size: 20px;
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.ans-container {
  display: flex;
}

.ans {
  list-style: none;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  cursor: pointer;
  border: 1px black solid;
  border-radius: 13px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #293264;
}

.selected {
  border: 3px #293264 solid;
  background-color: #d6dbf5;
}

.green {
  background-color: greenyellow;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.grey {
  background-color: grey;
}
